USE [MC_Supermercados]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_datas](
	[id_data] [bigint] NULL,
	[data] [datetime] NULL,
	[data_pt_br] [varchar](max) NULL,
	[ano] [bigint] NULL,
	[mes] [bigint] NULL,
	[dia] [bigint] NULL,
	[nome_mes] [varchar](max) NULL,
	[nome_mes_abrev] [varchar](max) NULL,
	[trimestre] [bigint] NULL,
	[semestre] [bigint] NULL,
	[dia_semana_num] [bigint] NULL,
	[nome_dia_semana] [varchar](max) NULL,
	[nome_dia_abrev] [varchar](max) NULL,
	[eh_final_semana] [bit] NULL,
	[eh_feriado] [bit] NULL,
	[nome_feriado] [varchar](max) NULL,
	[eh_dia_util] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
