USE [MC_Supermercados]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_clientes](
	[id_cliente] [bigint] NOT NULL,
	[nome] [varchar](100) NULL,
	[genero] [varchar](max) NULL,
	[idade] [int] NULL,
	[cidade] [varchar](max) NULL,
	[bairro] [varchar](max) NULL,
	[perfil_compra] [varchar](max) NULL,
	[id_data_cadastro] [int] NULL,
 CONSTRAINT [PK_dim_clientes] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
