USE [MC_Supermercados]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_lojas](
	[id_loja] [int] NOT NULL,
	[nome] [varchar](max) NULL,
	[tipo] [varchar](max) NULL,
	[cep] [varchar](max) NULL,
	[estado] [varchar](max) NULL,
	[cidade] [varchar](max) NULL,
	[Bairro] [varchar](max) NULL,
	[endereço] [varchar](max) NULL,
 CONSTRAINT [PK_dim_lojas] PRIMARY KEY CLUSTERED 
(
	[id_loja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
