USE [MC_Supermercados]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fato_vendas](
	[id_venda] [bigint] NOT NULL,
	[id_loja] [int] NOT NULL,
	[id_produto] [bigint] NOT NULL,
	[id_cliente] [bigint] NULL,
	[id_funcionario] [int] NOT NULL,
	[id_caixa] [int] NOT NULL,
	[id_data] [int] NOT NULL,
	[data_venda] [date] NULL,
	[quantidade] [int] NULL,
	[valor_unitario_tabela] [real] NULL,
	[desconto_promo_unit] [real] NULL,
	[desconto_clube_unit] [real] NULL,
	[valor_final_total] [real] NULL,
	[id_promocao] [int] NULL
) ON [PRIMARY]
GO
