USE [MC_Supermercados]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_promocoes](
	[id_promocao] [bigint] NULL,
	[nome_promocao] [varchar](max) NULL,
	[tipo_promocao] [varchar](max) NULL,
	[data_inicio] [datetime] NULL,
	[data_fim] [datetime] NULL,
	[categoria_foco] [varchar](max) NULL,
	[descricao] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
