USE [MC_Supermercados]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_funcionarios](
	[id_funcionario] [int] NOT NULL,
	[id_loja] [int] NULL,
	[nome] [varchar](100) NULL,
	[genero] [varchar](max) NULL,
	[departamento] [varchar](50) NULL,
	[cargo] [varchar](50) NULL,
	[salario] [float] NULL,
	[data_contratacao] [datetime] NULL,
	[ativo] [bit] NULL,
 CONSTRAINT [PK_dim_funcionarios] PRIMARY KEY CLUSTERED 
(
	[id_funcionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
