USE [MC_Supermercados]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_produtos](
	[sku] [bigint] NOT NULL,
	[produto] [varchar](max) NULL,
	[categoria] [varchar](max) NULL,
	[custo_unitario] [real] NULL,
	[preco_venda_sup] [real] NULL,
	[preco_venda_atac] [float] NULL,
	[id_fornecedor] [int] NULL,
 CONSTRAINT [PK_dim_produtos] PRIMARY KEY CLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
